﻿@model RiversideHealth.Models.ViewModels.HealthtipEdit

@{
    ViewData["Title"] = "Create";
}

<h2>Add HealthTips</h2>
<hr />
<form action="/HealthTips/Create" method="post">
    <div class="form-group">
        <label clas"control-label">Title</label>
        <input type="text" class="form-control" name="tipsTitle" />
    </div>
    <div class="form-group">
        <label clas"control-label">Description</label>
        <textarea class="form-control" name="tipsDescription"></textarea>
    </div>
    <div class="form-group">
        <label clas"control-label">Publish Status</label>
        <select name="tipsStatus" class="form-control">
            <option value="0">Unpublished</option>
            <option value="1">Published</option>
        </select>
    </div>    
    <div class="form-group">
        <label clas"control-label">Category</label>
        <select name="tipsCategoryId" class="form-control">
            @foreach (var cat in Model.HealthTipsCategory)
            {
                <option value="@cat.TipsCategoryId">@cat.CategoryTitle</option>
            }
        </select>
    </div>    
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Create" />
    </div>
</form>


