﻿@model RiversideHealth.Models.ViewModels.HealthtipEdit

@{
    ViewData["Title"] = "Details";
}
@if ((string)ViewData["UserIsAdmin"] != "False")
{
    <div>
        <a href="/HealthTips/Edit/@Model.HealthTips.TipsId">Edit</a> |
        <a href="/HealthTips/Index">Back to List</a>
    </div>
}
<div>
    <h2>@Model.HealthTips.TipsTitle</h2>
    <p>
        Category:
        @foreach (var cat in Model.HealthTipsCategory)
        {
            @cat.CategoryTitle
        }
    </p>
    <hr />
    <div class="col-md-10">
        <p>@Model.HealthTips.TipsDescription</p>
    </div>
</div>
