﻿@model RiversideHealth.Models.ViewModels.HealthtipEdit

@{
    ViewData["Title"] = "Edit";
}

<div>
    <a href="/HealthTips/Index">Back to List</a>
</div>

<h2>Edit HealthTips</h2>
<hr />
<form action="/HealthTips/Edit/@Model.HealthTips.TipsId" method="post">
    <div class="form-group">
        <label clas"control-label">Title</label>
        <input type="text" class="form-control" name="tipsTitle_update" value="@Model.HealthTips.TipsTitle"/>
    </div>
    <div class="form-group">
        <label clas"control-label">Description</label>
        <textarea class="form-control" name="tipsDescription_update">@Model.HealthTips.TipsDescription</textarea>
    </div>
    <div class="form-group">
        <label clas"control-label">Publish Status</label>
        <select name="tipsStatus_update" class="form-control">
            @{
                string published = "";
                string unpublished = "";
                if (Model.HealthTips.TipStatus == 0)
                {
                    unpublished = "selected";
                }
                else
                {
                    published = "selected";
                }
            }
            <option value="0" selected="@unpublished">Unpublished</option>
            <option value="1" selected="@published">Published</option>
        </select>
    </div>
    <div class="form-group">
        <label clas"control-label">Category</label>
        <select name="tipsCategoryId_update" class="form-control">
            @foreach (var cat in Model.HealthTipsCategory)
            {
                string selected = "";
                if (Model.HealthTips.TipsCategoryId == cat.TipsCategoryId)
                {
                    selected = "selected";
                }

                // set selected if it matches the id
                <option value="@cat.TipsCategoryId" selected="@selected">@cat.CategoryTitle</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Update" />
    </div>
</form>


