﻿@model IEnumerable<RiversideHealth.Models.HealthTips>
@{
    ViewData["Title"] = "Index";
}
<a href="/HealthTips/Create">Create New</a>
<h2>Health Tips</h2>
@if ((string)ViewData["UserIsAdmin"] == "False")
{
<div class="row">
    @foreach (var item in Model)
    {
        // if it's published
        if (item.TipStatus == 1)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@item.TipsTitle</h3>
                        <p class="text-right"><a href="/HealthTips/Details/@item.TipsId" class="btn btn-primary" role="button">View</a></p>
                    </div>
                </div>
            </div>
        }
    }
</div>
}
else
{
    <a href="/HealthTips/Create">Create New</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Status
                </th>
                <th class="text-right">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.TipsTitle
                    </td>
                    <td>
                        @item.TipsDescription
                    </td>
                    <td>
                        @item.TipStatus
                    </td>
                    <td class="text-right">
                        <a href="/HealthTips/Edit/@item.TipsId" class="btn btn-link">Edit</a> |
                        <a href="/HealthTips/Details/@item.TipsId" class="btn btn-link">Details</a> |
                        <a href="/HealthTips/Delete/@item.TipsId" class="btn btn-link">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<!-- Pagination -->
    <div class="text-center">
        <!--html decode to add arrows
            reference: https://stackoverflow.com/questions/35437491/webutility-htmldecode-replacement-in-net-core
        -->
        @Html.ActionLink(System.Net.WebUtility.HtmlDecode("&larr; Prev"), "Index", "HealthTips", new { page = ((int)ViewData["page"] - 1) })
        @ViewData["PageSummary"]
        @Html.ActionLink(System.Net.WebUtility.HtmlDecode("Next &rarr;"), "Index", "HealthTips", new { page = ((int)ViewData["page"] + 1) })
    </div>