﻿@model RiversideHealth.Models.FrequentlyAskedQuestions

@{
    ViewData["Title"] = "FaqAdminCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if ((string)ViewData["UserIsAdmin"] != "false")
{
    <h4>Add new Frequently Asked Questions</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="FaqAdminCreate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FaqQuestion" class="control-label"></label>
                    <input asp-for="FaqQuestion" class="form-control" />
                    <span asp-validation-for="FaqQuestion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FaqAnswer" class="control-label"></label>
                    <input asp-for="FaqAnswer" class="form-control" />
                    <span asp-validation-for="FaqAnswer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsPublished" /> Publish @*@Html.DisplayNameFor(model => model.IsPublished)*@
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="FaqAdminList">Back to List</a>
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-4 col-md-4" id="unauthorizedaccesserrorimg">
        </div>
        <div class="col-lg-5 col-md-5">
            <img src="~/images/Unauthorized-Access-error.png" alt="Unauthorized access" />
        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4" id="unauthorizedaccesserrorimg">
        </div>
        <div class="col-lg-5 col-md-5">
            <h3 style="color: red;">You are not authroized to access this page.Try again with valid credentials.</h3>

        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>
}