﻿@model IEnumerable<RiversideHealth.Models.FrequentlyAskedQuestions>

@{
    ViewData["Title"] = "Frequently Asked Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="recadd">
    @if ((string)ViewData["UserIsAdmin"] != "false")
    {
        <div class="banner" id="faqbanner">
            <h2>Manage FAQ</h2>
        </div>
        @Html.ActionLink("Add new FAQ", "FaqAdminCreate")

        <table class="table">
            <tr>
                <th class="faqadminlistques">
                    Question
                </th>
                <th>
                    Answer
                </th>
                <th class="faqadminlistdate">
                    Date Created
                </th>
                <th>
                    Status
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FaqQuestion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FaqAnswer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @if (item.IsPublished)
                        {
                            <span class="text-success">@Html.Raw("Active")</span>
                        }
                        else
                        {
                            <span class="text-danger">@Html.Raw("Inactive")</span>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("FaqAdminEdit", "FrequentlyAskedQuestion", new { id = item.FaqID })">Edit</a>
                        @*<a href="@Url.Action("FaqAdminDelete", "SuperAdmin", new { id = item.FaqID })">Delete</a>*@
                    </td>
                </tr>
            }

        </table>

        <div>
            @ViewData["PaginationSummary"]
            @Html.ActionLink("Prev",
                "FaqAdminList",
                "FrequentlyAskedQuestion",
                new { pagenum = ((int)ViewData["pagenum"] - 1) }
                )
            |
            @Html.ActionLink("Next",
                "FaqAdminList",
                "FrequentlyAskedQuestion",
                new { pagenum = ((int)ViewData["pagenum"] + 1) }
            )
        </div>
    }

    else
    {
        <div class="row">
            <div class="col-lg-4 col-md-4" id="unauthorizedaccesserrorimg">
            </div>
            <div class="col-lg-5 col-md-5">
                <img src="~/images/Unauthorized-Access-error.png" alt="Unauthorized access" />
            </div>
            <div class="col-lg-3 col-md-3">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4" id="unauthorizedaccesserrorimg">
            </div>
            <div class="col-lg-5 col-md-5">
                <h3 style="color: red;">You are not authroized to access this page.Try again with valid credentials.</h3>

            </div>
            <div class="col-lg-3 col-md-3">

            </div>
        </div>
    }
</div>

