﻿@model RiversideHealth.Models.FrequentlyAskedQuestions

@{
    ViewData["Title"] = "FaqUserDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>  

    <div class="faqquestion">
        @Html.DisplayFor(model => model.FaqQuestion)
    </div>

    <div class="faqanswer">
        @Html.DisplayFor(model => model.FaqAnswer)
    </div>

    @*<dl class="dl-horizontal">
            @*<dt>
                 @Html.DisplayNameFor(model => model.FaqQuestion)
            </dt>
            <dd>
                 @Html.DisplayFor(model => model.FaqQuestion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FaqAnswer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FaqAnswer)
            </dd>
        </dl>*@
</div>
<div>
    <a asp-action="FaqUserList">Back to List</a>
</div>
