﻿@model IEnumerable<RiversideHealth.Models.FrequentlyAskedQuestions>

@{
    ViewData["Title"] = "Frequently Asked Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner" id="careerbanner">
    <h2>Frequently Asked Questions</h2>
</div>
<div id="debugDiv">
</div>
@*<table class="table">
        <tr>
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="faqquestion">
                        @Html.DisplayFor(modelItem => item.FaqQuestion)
                    </div>
                </td>
                <td>
                    <div class="faqanswer">

                        @Html.DisplayFor(modelItem => item.FaqAnswer)

                        @Html.ActionLink("Details", "FaqUserDetail", new { id = item.FaqID })
                    </div>
                </td>

            </tr>
        }

    </table>*@

@foreach (var item in Model)
    {
        <div class="faqquestion">
            @Html.DisplayFor(modelItem => item.FaqQuestion)
         </div>
   
        <div class="faqanswer">
            <span class="img-caption">@item.FaqAnswer.Substring(0,400)...</span>
            @*@Html.DisplayFor(modelItem => item.FaqAnswer)*@

            @Html.ActionLink("Details", "FaqUserDetail", new { id = item.FaqID })
        </div>
    }

<div>
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
        "FaqUserList",
        "FrequentlyAskedQuestion",
        new { pagenum = ((int)ViewData["pagenum"] - 1) }
        )
    |
    @Html.ActionLink("Next",
        "FaqUserList",
        "FrequentlyAskedQuestion",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
    )
</div>

