﻿@model RiversideHealth.Models.GiftCategory

@{
    ViewData["Title"] = "Create";
}

<div>
    <a href="/GiftCategory/Index">Back to List</a>
</div>
<h2>Create Gift Category</h2>
<hr />
<form action="/GiftCategory/Create" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="giftCategoryName" class="control-label">Category Name</label>
                <input type="text" name="GiftCategoryName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


