﻿@model RiversideHealth.Models.GiftCategory

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>GiftCategory</h4>
<hr />
<div>
    <a href="/GiftCategory/Index">Back to List</a>
</div>
<h2>Edit Gift Category</h2>
<hr />
<form action="/GiftCategory/Edit/@Model.GiftCategoryId">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="giftCategoryName" class="control-label">Category Name</label>
                <input type="text" name="GiftCategoryName_Update" class="form-control" value="@Model.GiftCategoryName" />
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


