﻿@{
    ViewData["Title"] = "Checker";
}
<div class="col-md-8 col-md-push-2">
    <h2>Donation</h2>
    <h4>Choose an option</h4>
    <div><a href="/Donation/Donate" class="btn btn-lg btn-success">New Donator</a></div>
    <h4>or</h4>
    <label class="control-label">Donator Reference ID</label>
    <form action="/Donation/ExistingDonator" method="post" class="form-inline">
        <div class="form-group">
            <input type="text" name="refId" class="form-control">
            <input type="submit" name="checkrefID" value="Go" class="btn btn-lg btn-primary" />
        </div>
    </form>
    <br/>
</div>

