﻿@using Microsoft.Extensions.Options
@inject IOptions<RiversideHealth.Data.StripeConfig> Stripe
@model RiversideHealth.Models.Donator

@{
    ViewData["Title"] = "New Donation";
}

<h2>Donate</h2>
<hr />
<div class="col-md-8">
    <form action="/Donation/Donate" method="post" id="donationForm">
        <div class="form-group">
            <label for="CustFName" class="control-label">First Name*</label>
            <input type="text" name="CustFName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="CustLName" class="control-label">Last Name*</label>
            <input type="text" name="CustLName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="stripeEmail" class="control-label">Email Address*</label>
            <input type="text" name="stripeEmail" id="custEmail" class="form-control" />
        </div>
        <div class="form-group">
            <label for="CustPhone" class="control-label">Phone number*</label>
            <input type="text" name="CustPhone" class="form-control" />
        </div>
        <div class="form-group">
            <label for="DonationAmount" class="control-label">Donation Amount*</label>
            <input type="text" name="DonationAmount" id="donateAmt" class="form-control" />
        </div>
        <div class="checkbox">
            <label for="isAnon" class="control-label">
                <input type="checkbox" id="isAnon" name="isAnon" /> I want my Identity to be Anonymous
            </label>
        </div>
        <div class="form-group">
            <button id="customButton" class="btn btn-success">Donate</button>
        </div>
    </form>
</div>
<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script>
    var handler = StripeCheckout.configure({
        key: '@Stripe.Value.PublishableKey',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function (token) {
            // You can access the token ID with `token.id`.
            // Get the token ID to your server-side code for use.
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('donationForm');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }
    });

    document.getElementById('customButton').addEventListener('click', function (e) {
        // Open Checkout with further options:
        var donationAmount = document.querySelector('#donateAmt').value * 100;  // multiply by 100 to get the actual amount in cents
        var email = document.querySelector('#custEmail').value;
        handler.open({
            name: 'Donation to Tamak Hospital',
            email: email,
            description: '',
            currency: 'cad',
            amount: donationAmount
        });
        e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function () {
        handler.close();
    });
</script>
