﻿@model RiversideHealth.Models.Admin

@{
    ViewBag.Title = "Delete Admin";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this admin?</h3>
<div>
    <h4>Admin</h4>
    
    <div>
        <div>
            @Html.DisplayNameFor(model => model.FName)
        </div>

        <div>
            @Html.DisplayFor(model => model.LName)
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
