﻿@{
    ViewData["Title"] = "Patients & Visitors";
}
<div style="border:2px solid black;">
    <center><h4><b>@ViewData["Title"]</b></h4></center>
    <div style="border:2px solid black; margin-left:5px; margin-right:5px; margin-bottom:5px;">
        <center><h3><b>Important Info For Patients and Visitors</b></h3></center>
        <h3>
            <a asp-action="PatientInfo">&nbsp;-Info For Patients</a>
            <br />
            <a asp-action="VisitorInfo">&nbsp;-Info For Visitors</a>
        </h3>
        <br />
        <br />
        <br />
    </div>
</div>