﻿@model IEnumerable<RiversideHealth.Models.ProgramServices>
@{
    ViewData["Title"] = "Progams And services";
}

    <center><h4><b>@ViewData["Title"]</b></h4></center>
    <div class="list">
        <ul>
            <li>Breast Health</li>
            <li>Cardiac Stress Testing</li>
            <li>Chemotherapy/Oncology</li>
            <li>Chiropody</li>
            <li>Clinical Nutrition/Dietition</li>
            <li>Community Counselling</li>
            <li>Diagnostic Imaging [X-Ray]</li>
            <li>Laboratory</li>
            <li>Pastoral Care</li>
            <li>Rehabilitation Services</li>
            <li>Surgical Services</li>
            <li>Telemedicine</li>
            <li>Valley Diabetes</li>
        </ul>
    </div>

    <div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "index",
            "ProgramsServices",
            new { pagenum= ((int)ViewData["pagenum"]-1)}
            )
        |
        @Html.ActionLink("Next",
            "index",
            "ProgramsServices",
            new { pagenum = ((int)ViewData["pagenum"] + 1) }
            )
    </div>