﻿@model System.Data.DataTable
@{
    ViewData["Title"] = "Index";
}

@if ((string)ViewData["UserIsAdmin"] != "false")
{

    <div class="row">
        <div class="col-md-4">
            <h2>Subscribe For Update</h2>
        </div>
        <div style="text-align:right; margin-right:20px;">
            <h3><a asp-action="Create" style="border:1px solid black;">+ Add Update</a></h3>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        @for (int i = 0; i < Model.Rows.Count; i++)
        {
            <tr>
                <td>@Model.Rows[i][0]</td>
                <td>@Model.Rows[i][1]</td>
                <td>@Model.Rows[i][2]</td>
                <td>@Model.Rows[i][3]</td>
            </tr>
        }

    </table>

}
else
{
    <div class="row">
        <div class="col-lg-4 col-md-4" id="unauthorizedaccesserrorimg">
        </div>
        <div class="col-lg-5 col-md-5">
            <img src="~/images/Unauthorized-Access-error.png" alt="Unauthorized access" />
        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4" id="unauthorizedaccesserrorimg">
        </div>
        <div class="col-lg-5 col-md-5">
            <h3 style="color: red;">You are not authroized to access this page.Try again with valid credentials.</h3>

        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>
}
