﻿#contactus {
    width:550px;
    height:auto;
}

.faqquestion {
    border: 1px solid #226ea2;
    padding: 10px;
    border-radius: 10px;
    background-color: #226ea2;
    color: white;
    font-weight: bold;
    margin-right: 5em;
}

.faqanswer {
    padding: 10px;
    margin-left: 3em;
    margin-top: 1em;
    margin-bottom: 3em;
    border-radius: 10px;
    box-shadow: 5px 5px lightsteelblue;
    font-weight: bold;
    border: 1px solid;
    background-color: #eff6fc;
}

.faqadminlistques {
    width:300px;
}

.faqadminlistdate {
    width:120px;
}