﻿﻿* {
    box-sizing: border-box;
}

body {
    padding: 0;
}

.gcImgThumbnail {
    max-width: 150px;
    max-height: 150px;
}

/*NAVIGATION*/
.primary-navigation {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
}

.secondary-navigation {
    /*display: flex;
    flex-direction: row;*/
    /*justify-content: center;*/
}

.nav__donate-search {
    margin-left: auto;
}

button {
    border: none;
    margin-bottom: 10px;
}

.nav__donate-btn {
    width: 100%;
    background-color: #F6C443;
    color: #0D2F86;
    padding: 0.5px 85px;
    font-size: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: lightblue;
    }

.navbar-brand > img {
    width: 80px;
    height: auto;
}

.navbar-brand {
    padding: 0;
}

.navbar .navbar-inverse .navigation {
    border-radius: 0;
}

.navigation {
    background-color: #226EA2;
}

#navigation {
    border-radius: 0;
}

ul#nav__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__search-btn {
    background-color: #439CDE;
}

/*HOME MENU*/
.homeMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.megaBtn__row {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.megaBtn {
    display: flex;
    background-color: #2d538f;
    width: 300px;
    height: 200px;
    margin: 0 5px 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a.megaBtn {
    color: #fff;
    font-size: 1.3em;
}

.megaBtn:hover {
    background-color: #9dc0e3;
}

a.megaBtn:hover {
    color: #2d538f
}

.megaBtn a {
    margin-top: auto;
    margin-bottom: auto;
}

.news__container {
    border: 2px solid #2d538f;
    padding: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.subheading {
    color: dimgrey;
}

/*WIDGETS*/
.widgets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    .widgets ul {
        list-style: none;
        padding: 0;
    }

        .widgets ul li {
            padding-bottom: 1em;
        }

.widget__group1 {
    display: flex;
    flex-direction: row;
}

    .widget__group1 > div {
        padding-right: 2em;
    }

a.widget__bigLink {
    background-color: #2d538f;
    padding: 1em 3em 1em 3em;
    color: #fff;
    margin: 1em 5px;
    text-align: center;
    cursor: pointer;
    font-size: 1.3em;
}


.widget__bigLink:hover {
    background-color: #9dc0e3;
    color: #2d538f;
}

a.widget__bigLink:hover {
    color: #2d538f;
}

.widget__accreditation {
    margin-top: 2em;
}

    .widget__accreditation img {
        width: 120px;
        margin: 1em;
    }
/*FOOTER*/
.footer__wrap {
    margin: auto;
}

footer p {
    padding: 0;
    margin: 0;
    text-align: center;
}

footer {
    background-color: #13293d;
    padding: 2em 5em 2em 5em;
    color: #fff;
}

@media only screen and (max-width: 991px) {


    .homeMenu {
        flex-direction: column;
    }

    .megaBtn__row {
        /*flex-direction: row;
        align-items: center;*/
    }

    .megaBtn {
        margin-bottom: 5px;
        width: 100%;
    }

        .megaBtn:last-child {
            margin-right: 0;
        }

    .widgets {
        flex-direction: column;
    }

    .widget__group1 {
        flex-direction: column;
        margin: 0 auto;
    }

    .widget__group2 {
        margin: 0 auto;
    }

    .widget__accreditation {
        text-align: center;
    }
}

@media only screen and (max-width: 543px) {
    #myCarousel {
        display: none;
    }

    .widget__group2 {
        display: flex;
        flex-direction: column;
    }

        .widget__group2 > div {
            margin: 0 auto;
        }
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#myCarousel {
    height: auto;
    width: auto;
    overflow: hidden;
}