﻿@model RiversideHealth.Models.ViewModels.PageEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Page</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<form method="POST" action="">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input id="PageTitle_Edit" name="Title" value="@Model.Page.Title" />
        @*@Html.EditorFor(model => model.Page.Title, new { htmlAttributes = new { @class = "form-control" } })*@
    </div>
    <div class="inprow">
        <div class="inputlabel">Content</div>
        @*@Html.TextAreaFor(model => model.Page.Content, new { htmlAttributes = new { @class = "form-control" } })*@
        <textarea id="PageContent_Edit" name="Content" value="@Model.Page.Content">@Model.Page.Content</textarea>
    </div>
    <div class="inptrow">
        <div>
            <input id="Publish" type="radio" name="PublishStatusEdit" value="1" />
            <label for="Publish">Publish Upon Creation</label>
        </div>
        <div>
            <input id="NoPublish" type="radio" name="PublishStatusEdit" value="0" />
            <label for="NoPublish">Save Without Publishing</label>
        </div>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>