﻿@model IEnumerable<RiversideHealth.Models.Page>

@{
    ViewBag.Title = "Index";
}
<div class="banner" id="pagesbanner">
    <h2 class="text-center">About the Hospital</h2>
</div>
<hr />
<div id="debugDiv">
</div>
<div class="flex-centering">
    <div class="flex_row">
        @foreach (var item in Model)
        {
            @if (item.PublishStatus == 1)
            {
                <div class="megaBtn__row">
                    @Html.ActionLink(item.Title, "Details", new { id = item.PageId }, new { @class = "megaBtn" })
                </div>
            }

        }
    </div>
</div>


@*<div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "PublicIndex",
            "Page",
            new { pagenum = ((int)ViewData["pagenum"] - 1) }
            )
        |
        @Html.ActionLink("Next",
            "PublicIndex",
            "Page",
            new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
    </div>*@