﻿@model RiversideHealth.Models.PatientInfoModel

@{
    ViewData["Title"] = "PatientCreate";
}

<h2>Add Info For Patient</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PatientCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ADD" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PatientIndex">Back to List</a>
</div>

