﻿@model RiversideHealth.Models.VisitorInfoModel

@{
    ViewData["Title"] = "VisitorCreate";
}

<h2>Add Info For Visitor</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VisitorCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" required/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="VisitorIndex">Back to List</a>
</div>

