﻿@model RiversideHealth.Models.Transaction
@{
    ViewData["Title"] = "Details";
}

<h2>Transaction Details</h2>
<table class="table">
    <tr>
        <th>Reference ID</th>
        <th>Transaction Date</th>
        <th>Transaction Amount</th>
        <th>Transaction Status</th>
        <th>Donator</th>
    </tr>
    <tr>
        <td>@Model.ReferenceId</td>
        <td>@Model.TransactionDate</td>
        <td>$ @Model.TransactionAmount</td>
        <td>@Model.TransactionStatus</td>
        <td>@Model.DonatorId</td>
    </tr>

</table>
