﻿@model IEnumerable<RiversideHealth.Models.HealthTipsCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>Health Tip Categories</h2>

<p>
    <a href="/HealthTipsCategory/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CategoryTitle
                </td>
                <td>
                    @if ((string)ViewData["UserIsAdmin"] != "False")
                    {
                        <a href="/HealthTipsCategory/Edit/@item.TipsCategoryId">Edit</a> <span>|</span>
                        <a href="/HealthTipsCategory/Details/@item.TipsCategoryId">View</a> 
                        // disable deleting the uncategorized category
                        if (item.CategoryTitle != "Uncategorized")
                        {
                            <span>|</span><a href="/HealthTipsCategory/Delete/@item.TipsCategoryId"> Delete</a>
                        }

                    }
                    else
                    {
                        <a href="Details/@item.TipsCategoryId">View</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <!--html decode to add arrows
    reference: https://stackoverflow.com/questions/35437491/webutility-htmldecode-replacement-in-net-core
    -->
    @Html.ActionLink(System.Net.WebUtility.HtmlDecode("&larr; Prev"), "Index", "HealthTipsCategory", new { page = ((int)ViewData["page"] - 1) })
    @ViewData["PageSummary"]
    @Html.ActionLink(System.Net.WebUtility.HtmlDecode("Next &rarr;"), "Index", "HealthTipsCategory", new { page = ((int)ViewData["page"] + 1) })
</div>


