﻿@model RiversideHealth.Models.ViewModels.AnnouncementEdit
@{
    ViewBag.Title = "Create";
}

<h2>Edit Announcement</h2>

<form method="POST" action="">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input id="AnnouncementTitle_New" name="AnnouncementTitle_New" value="@Model.Announcement.Title"/>
    </div>
    <div class="inptrow">
        <input type="hidden" name="AnnouncementAuthor_New" value="@ViewData["UserHasAdmin"]" />
    </div>
    <div class="inprow">
        <label class="inputlabel">Content</label>
        <textarea id="AnnouncementContent_New" name="AnnouncementContent_New">@Model.Announcement.Content</textarea>
    </div>
    <div class="inptrow">
        <div>
            <input id="Display" type="radio" name="AnnouncementDisplayStatus" value="1" />
            <label for="Display">Display Upon Creation</label>
        </div>
        <div>
            <input id="NoDisplay" type="radio" name="AnnouncementDisplayStatus" value="0" />
            <label for="NoDisplay">Save Without Displaying</label>
        </div>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>


</form>