﻿@model RiversideHealth.Models.ViewModels.CareerEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Career</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form method="POST" action="">
    <div class="inprow">
        <div>
            <label class="inplabel">Title</label>
        </div>
        <input id="RoleName_New" name="RoleName_New" value="@Model.Career.CareerName" />
    </div>
    <div class="inptrow">
        <input type="hidden" name="CareerAuthor_New" value="@ViewData["UserHasAdmin"]" />
    </div>
    <div class="inptrow">
        <label>Role Type</label>
        <div>
            <input id="volunteer" type="radio" name="RoleType" value="0" />
            <label for="volunteer">Volunteer</label>
        </div>
        <div>
            <input id="paid" type="radio" name="RoleType" value="1" />
            <label for="paid">Paid</label>
        </div>
    </div>
    <div class="inprow">
        <div>
            <label class="inputlabel">Contact Person</label>
        </div>
        <input id="ContactPerson" name="ContactPerson_New" value="@Model.Career.ContactName"/>
    </div>
    <div class="inprow">
        <div>
            <label class="inputlabel">Contact Person Email</label>
        </div>
        <input id="ContactPersonEmail" value="@Model.Career.ContactEmail" name="ContactPersonEmail_New" />
    </div>
    <div class="inprow">
        <div>
            <label class="inputlabel">Wage Per Hour</label>
        </div>
        <strong>$</strong> <input id="Wage" name="Wage_New" value="@Model.Career.Wage" />
    </div>
    <div class="inprow">
        <div>
            <label class="inputlabel">Role Description</label>
        </div>
        <textarea id="RoleDescription_New" name="RoleDescription_New" >@Model.Career.CareerDescription</textarea>
    </div>
    <div class="inptrow">
        <div>
            <input id="Active" type="radio" name="RoleStatus" value="1" />
            <label for="Active">Set Role To Active</label>
        </div>
        <div>
            <input id="Inactive" type="radio" name="RoleStatus" value="0" />
            <label for="Inactive">Set Role To Inactive</label>
        </div>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>