﻿@model RiversideHealth.Models.ContactUsAdminModel

@{
    ViewData["Title"] = "AdminEdit";
}

<h2>AdminEdit</h2>

<h4>ContactUsAdminModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.Status == false)
                {
                    <select id="Status" name="Status" class="form-control">
                        <option value="False" selected="selected">Pending</option>
                        <option value="True">Done</option>
                    </select>
                }
                else
                {
                    <select id="Status" name="Status" class="form-control">
                        <option value="False">Pending</option>
                        <option value="True" selected="selected">Done</option>
                    </select>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
