﻿@model IEnumerable<RiversideHealth.Models.ContactUsAdminModel>

@{
    ViewData["Title"] = "AdminIndex";
}

@if ((string)ViewData["UserIsAdmin"] != "false")
{

    <h2>Contact Us - List</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @if (item.Status == false)
                        {
                            <p>Pending</p>
                        }
                        else
                        {
                            <p>Done</p>
                        }
                    </td>
                    <td>
                        <a asp-action="AdminEdit" asp-route-id="@item.Id">Edit</a> 
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "AdminIndex",
            "ContactUsAdmin",
            new { pagenum = ((int)ViewData["pagenum"] - 1) }
            )
        |
        @Html.ActionLink("Next",
            "AdminIndex",
            "ContactUsAdmin",
            new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
    </div>
}
else
{
    <h3>Error: You are not authorized to access thi page.<br />Try again with valid credentials</h3>
}