﻿@model RiversideHealth.Models.ViewModels.GiftItemEdit

@{
    ViewData["Title"] = "Create";
}

<div>
    <a href="/GiftShop/Index">Back to List</a>
</div>
<h2>Create Gift Item</h2>
<hr />
<form action="/GiftShop/Create" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="GiftItemName" class="control-label">Item Name</label>
                <input type="text" name="GiftItemName_New" class="form-control" />
            </div>
            <div class="form-group">
                <label for="GiftItemDescription" class="control-label">Item Description</label>
                <textarea name="GiftItemDescription_New" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="GiftItemPrice" class="control-label">Item Price</label>
                <input type="text" name="GiftItemPrice_New" class="form-control" />
            </div>
            <div class="form-group">
                <label for="GiftCategoryId" class="control-label">Gift Category</label>
                <select name="GiftCategoryId_New" class="form-control">
                    @foreach (var cat in Model.GiftCategories)
                    {
                        <option value="@cat.GiftCategoryId"> @cat.GiftCategoryName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Available Item Locations</label>
                @foreach (var locations in Model.Locations)
                {
                    <label>
                        <input type="checkbox" name="Locations" value="@locations.LocationId" />
                        @locations.LocationName
                    </label>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
