﻿@model RiversideHealth.Models.ViewModels.GiftItemEdit

@{
    ViewData["Title"] = "Details";
}

<h2>View</h2>

<h4>GiftItems</h4>
<hr />
<div>
    <a href="/GiftShop/Index" class="btn btn-link">Back to List</a>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object" src="~/images/gift-items/@Model.GiftItems.GiftItemImage" alt="item image">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">@Model.GiftItems.GiftItemName</h4>
                @foreach (var cat in Model.GiftCategories)
                {
                    <h5 class="media-heading">Category: @cat.GiftCategoryName</h5>
                }
                @Model.GiftItems.GiftItemDescription
            </div>
        </div>
        <div class="col-md-12">
            Available Locations
        </div>
    </div>
</div>



