﻿@model IEnumerable<RiversideHealth.Models.GiftItems>
@{
    ViewData["Title"] = "Index";
}

<h2>Gift Shop</h2>
@if ((string)ViewData["UserIsAdmin"] == "False")
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="~/images/gift-items/@item.GiftItemImage" alt="item image" class="gcImgThumbnail">
                    <div class="caption">
                        <h3>@item.GiftItemName</h3>
                        <p>@item.GiftItemPrice</p>
                        <p>@item.GiftItemDescription</p>
                        <p><a href="/GiftShop/Details/@item.GiftItemsId" class="btn btn-primary" role="button">View</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <a href="/GiftShop/Create">Create New</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th class="text-right">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.GiftItemName
                    </td>
                    <td>
                        @item.GiftItemDescription
                    </td>
                    <td>
                        @item.GiftItemPrice
                    </td>
                    <td class="text-right">
                        <a href="/GiftShop/Edit/@item.GiftItemsId" class="btn btn-link">Edit</a> |
                        <a href="/GiftShop/Details/@item.GiftItemsId" class="btn btn-link">Details</a> |
                        <a href="/GiftShop/Delete/@item.GiftItemsId" class="btn btn-link">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<!-- Pagination -->
    <div class="text-center">
        <!--html decode to add arrows
        reference: https://stackoverflow.com/questions/35437491/webutility-htmldecode-replacement-in-net-core
        -->
        @Html.ActionLink(System.Net.WebUtility.HtmlDecode("&larr; Prev"), "Index", "GiftShop", new { page = ((int)ViewData["page"] - 1) })
        @ViewData["PageSummary"]
        @Html.ActionLink(System.Net.WebUtility.HtmlDecode("Next &rarr;"), "Index", "GiftShop", new { page = ((int)ViewData["page"] + 1) })
    </div>